# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\W_Programmation\DUT Info\Algo\AlgoC\Projet Nim\ProjetC_JeuNim\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
